@model ERES.Mvc.Models.GradeValuesModels.GradeValuesViewModel

@{
    ViewBag.Title = "StudentGrades";
}

<h2>StudentGrades</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped"  >
    <tr>
        <th>
           das
        </th>
        <th>
           sda
        </th>

        <th></th>
    </tr>

@foreach (var item in Model.allGrades) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nazwa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ocena)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
